<div
  class="stepper-container"
  *ngIf="{
    activeStepIndex: activeStepIndex$ | async,
    stepsData: stepsData$ | async
  } as data"
>
  <ul class="nav-steps">
    <button
      *ngFor="let step of data?.stepsData; let i = index"
      (click)="selectStep(i + 1)"
      class="step-button"
      [class.active]="i + 1 === data?.activeStepIndex"
      [disabled]="(data?.stepsData)[data.activeStepIndex].value === ''"
    >
      <div>{{ i + 1 }}</div>
    </button>
  </ul>

  <app-step
    [label]="
      data?.activeStepIndex +
      1 +
      '. ' +
      (data?.stepsData)[(data?.activeStepIndex)].label
    "
    [placeholder]="(data?.stepsData)[(data?.activeStepIndex)].placeholder"
    [value]="(data?.stepsData)[(data?.activeStepIndex)].value"
    (inputValueChange)="onInputValueChanged($event)"
    *ngIf="data?.activeStepIndex !== -1"
  ></app-step>

  <app-result
    *ngIf="data?.activeStepIndex === -1"
    [stepsData]="data?.stepsData"
  ></app-result>

  <!-- <ng-content></ng-content> -->

  <div class="buttons">
    <button (click)="onSubmit()" [disabled]="!(isStepperValid$ | async)">
      Submit
    </button>
    <button (click)="onClear()">Clear</button>
  </div>
</div>
