.stepper-container {
  max-width: 700px;
  margin: 20px auto;
  padding: 2em 3em;
  border: 2px solid #f5ce18;
  background-color: #fff0a9;

  ul.nav-steps {
    display: flex;
    justify-content: space-between;

    button.step-button {
      padding: 10px 20px;
      border-radius: 4px;
      background-color: #d6d6d6;
      border: 1px solid black;
      font-size: 18px;
      font-weight: bold;
      text-align: center;
      cursor: pointer;

      &:hover {
        background-color: white;

        &[disabled] {
          background-color: #d6d6d6;
        }
      }

      &.active {
        background-color: white;

        &[disabled] {
          color: black;
        }
      }
    }
  }

  .buttons {
    display: flex;
    justify-content: flex-end;

    button {
      border: none;
      background-color: #d6d6d6;
      margin-left: 1em;
      padding: 1em;
      border-radius: 4px;
      cursor: pointer;
      border: 1px solid black;

      &:hover {
        background-color: #eaeaea;

        &[disabled] {
          background-color: #d6d6d6;
        }
      }
    }
  }
}
