<div
  class="stepper-container"
  *ngIf="{
    activeStepIndex: activeStepIndex$ | async,
    stepsData: stepsData$ | async,
    activeStepData: activeStepData$ | async,
    isFormSubmitted: isFormSubmitted$ | async
  } as data"
>
  <ul class="nav-steps">
    <button
      *ngFor="let step of data?.stepsData; let i = index"
      (click)="selectStep(i)"
      class="step-button"
      [class.active]="i === data.activeStepIndex && !data.isFormSubmitted"
      [disabled]="data.isFormSubmitted || data.activeStepData.value === ''"
    >
      <div>{{ i + 1 }}</div>
    </button>
  </ul>

  <app-step
    [label]="data.activeStepData.label | stepLabel: data.activeStepIndex"
    [placeholder]="data.activeStepData.placeholder"
    [value]="data.activeStepData.value"
    (inputValueChange)="onInputValueChanged($event)"
    *ngIf="!data.isFormSubmitted"
  ></app-step>

  <app-result
    *ngIf="data.isFormSubmitted"
    [stepsData]="data.stepsData"
  ></app-result>

  <div class="buttons">
    <button
      (click)="onSubmit()"
      [disabled]="!(isStepperValid$ | async) || data.isFormSubmitted"
    >
      Submit
    </button>
    <button (click)="onClear()">Clear</button>
  </div>
</div>
