* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  background: white;
  // overflow: hidden;
  // height: 100vh;
}

ul {
  list-style: none;
}

button:focus,
a.button:focus {
  outline: none;
}
